@import "tailwindcss";
@plugin "daisyui" {
  themes: cupcake --default;
}

.form-control {
  border: none !important;
}
.flag-dropdown {
  border: 0 !important;
  height: 80% !important;
  top: 10% !important;

  &.open {
    background-color: var(--color-base-100) !important;
  }
}

.selected-flag,
.form-control,
.country-list {
  background-color: var(--color-base-100) !important;
}

.country-list {
  background-color: var(--color-base-100) !important;
  border-radius: 5px !important;
}
